.auth-forms {
  display: flex;

  .patika-info {
    background: #dadada;
    flex: 1;
    padding: 25px;
    height: 100vh;

    h1 {
      font-size: 50px;
      margin-top: 10px;
    }

    p {
      font-size: 20px;
      line-height: 30px;
      margin-top: 10px;
      margin-bottom: 30px;
    }

    .icons {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  .register {
    flex: 1;
    padding: 25px 80px;
    position: relative;
    height: 100vh;
    overflow-y: scroll;

    .title {
      margin-bottom: 60px;
    }

    .row {
      display: flex;
      justify-content: space-between;
      gap: 30px;

      .form-group {
        flex: 1;
      }
    }

    button {
      background: #444aff;
      width: 100%;
      color: #fff;
      border-radius: 4px;
      height: 60px;
      margin-top: 20px;
      border: none;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
      &.disabled {
        opacity: 0.5;
      }
    }

    .form-error {
      height: 20px;
      color: red;
      line-height: 20px;
    }

    .modes {
      position: absolute;
      cursor: pointer;
      right: 30px;
      top: 30px;
    }
  }
}

.auth-forms.dark {
  .patika-info {
    background: #999;

    h1,
    p {
      color: #fff;
    }
  }

  .register {
    background: #2c2c2c;

    h2,
    label {
      color: #fff;
    }

    input {
      background: transparent;
    }

    button {
      background: #ffbf5e;
    }
  }
}
