@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Oxygen:wght@300;400;700&family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oxygen", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 59px;
  line-height: 75px;
  color: #444aff;
}

h2 {
  font-weight: 700;
  font-size: 47px;
  line-height: 60px;
}

p {
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: #444aff;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &.required {
    label {
      position: relative;

      &::after {
        position: absolute;
        color: #ee6356;
        content: "*";
        margin-left: 5px;
      }
    }
  }
}

label {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #3c3c3c;
}

input {
  border: 3px solid #8e8e8e;
  outline: none;
  border-radius: 4px;
  padding: 12px;
  color: #8e8e8e;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  &::placeholder {
    color: #8e8e8e;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}

.form-group.checkbox {
  flex-direction: row;

  input[type="checkbox"] {
    position: relative;
    width: 20px;
    height: 20px;
    color: #363839;
    border: 2px solid #8e8e8e;
    border-radius: 4px;
    appearance: none;
    outline: 0;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      display: block;
      top: 2px;
      left: 7px;
      width: 8px;
      height: 14px;
      border-style: solid;
      border-color: #fff;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
      opacity: 0;
    }

    &:checked {
      color: green;
      border-color: #8e8e8e;
      background: #8e8e8e;

      &::before {
        opacity: 1;
      }
    }
  }

  label {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    color: #8e8e8e;
  }
}
